<section id="about" class="about-section">
    <div class="container">
      <div class="content-wrapper">
        <!-- Profile Image -->
        <div class="profile-image">
            <img src="assets/img-portfolio.jpeg" alt="Urmila's Photo" />
        </div>
        <!-- About Text -->
        <div class="about-text">
          <h2>About Me</h2>
          <p>
            Hello! I'm Urmila, a passionate Front-End Developer with expertise in
            creating responsive and dynamic user interfaces. I enjoy turning ideas
            into real-world solutions using modern web technologies like Angular,
            SCSS, and TypeScript.
          </p>
          <p>
            With over a year of experience in UI development, I focus on crafting
            clean, efficient, and user-friendly designs that enhance user
            experiences. I'm also skilled in cloud technologies such as GCP, AWS,
            and Azure.
          </p>
          <!-- Call-to-Action -->
          <button class="btn-primary" routerLink="/contact">Let's Connect</button>
        </div>
      </div>
    </div>
  </section>
  