<div class="navbarContainer">
    <div class="navbar"> 
      <ul class="menuWrapper">
        <li>
          <a 
            class="menuElement" 
            href="#home" 
            [class.active]="isActive('home')">Home</a>
        </li>
        <li>
          <a 
            class="menuElement" 
            href="#about" 
            [class.active]="isActive('about')">About</a>
        </li>
        <li>
          <a 
            class="menuElement" 
            href="#skills" 
            [class.active]="isActive('skills')">Skills</a>
        </li>
        <li>
          <a 
            class="menuElement" 
            href="#projects" 
            [class.active]="isActive('projects')">Projects</a>
        </li>
        <li>
          <a 
            class="menuElement" 
            href="#experience" 
            [class.active]="isActive('experience')">Experience</a>
        </li>

      </ul>
    </div>
  </div>
  