/* You can add global styles to this file, and also import other style files */
/* Global styles for the app */
html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }